/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~codemirror/theme/material-darker';
@import "~font-awesome/css/font-awesome.min.css";

body, html {
  height: 94%;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.ast-match-highlight {
  background-color: rgba(255, 255, 0, 0.3);
}

.CodeMirror {
  font-size: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}