.graphs {
    height: 100%;
    background-color: #0C1021;
    color: #0C1021 !important;
}

.no-output-header {
    color: #222831;
}

#graph svg {
    height: 100%;
    width: auto;
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    /* color: #0C1021; */
    font-weight: 700;
}

.graphviz {
    background-color: white;
}