/* .svf {
    text-align: center;
    margin: auto;

    border: 5px rgb(229, 255, 0) solid;

    border-width: 10px;
    height: 100%;
}

.ngx-codemirror {
    text-align: left;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
}

.application {
    margin: 0 10%;

    border: 5px rgb(9, 255, 0) solid;

    border-width: 10px;
    
}

.input{
    width: 50%;
    min-height: 100%;

    float: left;
    border: 5px red solid;

    border-width: 10px;
}

.output{
    min-width: 50%;
    min-height: 100%;
    float: left;
    
    border: 5px red solid;

    border-width: 10px;
    
}

.run-btn {
    background-color: #e7e7e7;
    color: black;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 8px;
    transition-duration: 0.4s;
    display: inline-block;
} */

/* .run-btn:hover {
    background-color: #343a40;
    color: white;
  }

.run-btn:active {
    background-color: #343a40;
  }

.mat-tab-group {
    margin-bottom: 48px;
  } */

  #graph svg {
    height: 100%;
    width: auto;
}

.ngx-float-left {
    float:left;
}