<div class="landing-page">
    <div class="d-flex align-items-center header">
        <ul class="nav-bar">
            <li class="websvf-logo">WebSVF</li>
            <li>About</li>
            <li>Docs</li>
            <li (click)="hideLandingPage()">Try WebSVF</li>
        </ul>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-column first-landing-component">
            <span class="title">Source Code Analysis Online</span>
            <span class="websvf-description">Online learning and teaching platform for LLVM code. Powered by SVF-Tools to perform pointer alias analysis, memory SSA form construction, value-flow tracking and memory error checking.
            </span>
            <img class="example1-img" src="../../assets/example1.png" alt="example1">
        </div>
        <div class="second-landing-component">
            <div class="d-flex flex-row mb-5">
                <span class="descriptions">
                    Modern software repositories are very huge. 
                    Understanding the source code of a project 
                    requires extensive efforts, especially for legacy code bases. 
                </span>
                <img class="example2-img" src="../../assets/example2.png" alt="">
            </div>
            <div class="d-flex flex-row">
                <img class="example2-img" src="../../assets/example3.png" alt="">
                <span class="descriptions">
                    This project aims to design a visualising framework to extract the code information (e.g., functions, statements and variables) and build their relations (e.g., control-flow and data-flow dependencies).
                </span>
            </div>
        </div>
    </div>
</div>