.toolbar {
    height: 100px;
    background-color: #22445E;
}

.heading {
    font-weight: bold;
    font-size: 23px;
}

.compile-options {
    color: white;
    font-size: 18px;
    margin-right: 10px;
}

.run-icon {
    margin-right: 5px;
}

.reset-btn {
    margin-left: 10px;
    font-size: 0.8rem;
}


.compile-option-input {
    width: 500px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.nav-bar {
    list-style-type: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-bar li {
    float: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer;
  }
  
  .nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .nav-bar li a:hover {
    background-color: #111111;
  }
  
  .websvf-logo {
    font-size: 38px !important;
    font-weight: normal !important;
    padding: 10px;
    border: white solid 1px;
  }