<div class="d-flex flex-row toolbar">
    <div class="d-flex align-items-center header">
      <ul class="nav-bar">
          <li class="websvf-logo">WebSVF</li>
          <li>File<i class="fa fa-angle-down pl-1"></i></li>
          <li>Edit<i class="fa fa-angle-down pl-1"></i></li>
          <li>View<i class="fa fa-angle-down pl-1"></i></li>
          <li>Examples<i class="fa fa-angle-down pl-1"></i></li>
      </ul>
      <!-- <span class="compile-options">Compile Options: </span>
      <input [(ngModel)]="compileOptions" type="text" class="compile-option-input">
      <button type="button" class="btn btn-primary mr-5" (click)="run()">
        <i class="fa fa-play run-icon"></i>
        Run
      </button> -->
      <button type="button" class="btn btn-secondary reset-btn" (click)="resetCompileOptions()">
        Reset Default Options
      </button>
      <button *ngIf="!isLoading" type="button" class="btn btn-secondary reset-btn" (click)="updateWebSvf()">
        Update WebSVF
      </button>
      <button *ngIf="isLoading" type="button" class="btn btn-secondary reset-btn" disabled>
        Updating WebSVF
      </button>

    </div>
      
</div>
